NODE_ENV="development"
DATABASE_URL="postgresql://your_username:your_password@localhost:5432/your_database_name"
PORT=8080
JWT_SECRET="YourJWTSecretKeyHere"
APP_SECRET="YourAppSecretKeyHere"
ACCESS_TOKEN_EXPIRES="15m"
REFRESH_EXPIRES_DAYS=7
OPENAI_API_KEY="sk-proj-xxxxxxxx"
MODEL_NAME=gpt-4o-mini

AWS_REGION=ap-southeast-1
MINIO_ENDPOINT=http://localhost
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=your_minio_password
MINIO_BUCKET=your_bucket_name
MINIO_PORT=9000

# ADMIN 
ADMIN_USERNAME=your_admin_username
ADMIN_PASSWORD=your_admin_password
ADMIN_NAME=your_admin_name